*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}


body{

background:#f5efe6;
color:#333;

}


header{

background:linear-gradient(135deg,#002654,#ed2939);

color:white;

text-align:center;

padding:50px 20px;

}


header h1{

font-size:45px;

}


header p{

font-size:20px;

margin-top:15px;

}



main{

width:85%;

max-width:1000px;

margin:40px auto;

}



article{

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 5px 20px #aaa;

}



article img{

width:100%;

border-radius:15px;

}



h2{

color:#002654;

margin-top:30px;

margin-bottom:15px;

}



p{

font-size:18px;

line-height:1.7;

margin-bottom:20px;

}



ul{

margin:20px;

}



li{

font-size:18px;

margin:15px;

}




/* BOTÃO FIXO */

#curtir{

position:fixed;

right:30px;

bottom:30px;

background:#ed2939;

color:white;

border:none;

padding:18px 25px;

border-radius:50px;

font-size:25px;

cursor:pointer;

box-shadow:0 5px 15px rgba(0,0,0,.4);

transition:.3s;

}


#curtir:hover{

background:#002654;

transform:scale(1.1);

}



#curtir span{

margin-left:8px;

}



footer{

background:#002654;

color:white;

text-align:center;

padding:25px;

margin-top:40px;

}