*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

}


body{

background:#f5efe6;

color:#333;

transition:.4s;

}



header{

background:linear-gradient(135deg,#002654,#ed2939);

color:white;

text-align:center;

padding:60px 20px;

}


header h1{

font-size:45px;

}



header p{

font-size:20px;

}



main{

width:90%;

max-width:1100px;

margin:40px auto;

}



.noticia-principal{

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

margin-bottom:50px;

}



.imagem-principal{

width:75%;

height:380px;

display:block;

margin:auto;

object-fit:cover;

border-radius:20px;

}



.noticia-principal h2{

color:#002654;

font-size:35px;

margin:30px 0 15px;

}



p{

font-size:18px;

line-height:1.8;

margin-bottom:20px;

}



.artigo-autor{

font-weight:bold;

color:#555;

font-size:16px;

}



.artigo-fonte{

font-size:14px;

font-style:italic;

color:#777;

border-top:1px solid #ddd;

padding-top:15px;

margin-top:20px;

}



.bolhas{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:30px;

}



.bolha{

background:white;

padding:30px;

border-radius:35px;

box-shadow:0 8px 20px rgba(0,0,0,.15);

transition:.3s;

}



.bolha:hover{

transform:translateY(-8px);

}



.bolha h3{

color:#002654;

margin-bottom:15px;

}



#modoEscuro{

position:fixed;

left:30px;

bottom:30px;

background:#002654;

color:white;

border:none;

padding:15px 20px;

border-radius:30px;

cursor:pointer;

}



#curtir{

position:fixed;

right:30px;

bottom:30px;

background:#ed2939;

color:white;

border:none;

padding:15px 25px;

border-radius:30px;

cursor:pointer;

font-size:20px;

}



footer{

background:#002654;

color:white;

text-align:center;

padding:25px;

margin-top:50px;

}



/* DARK MODE */


body.dark-mode{

background:#121212;

color:white;

}



body.dark-mode .noticia-principal,
body.dark-mode .bolha{

background:#1f1f1f;

}



body.dark-mode h2,
body.dark-mode h3{

color:#66b3ff;

}



body.dark-mode p{

color:#eee;

}



body.dark-mode .artigo-autor,
body.dark-mode .artigo-fonte{

color:#bbb;

}



body.dark-mode header{

background:#111;

}



body.dark-mode footer{

background:#000;

}



@media(max-width:700px){


.imagem-principal{

width:100%;

height:250px;

}


header h1{

font-size:30px;

}


}